<div class="container">
  <h1>User Skills and Levels</h1>
</div>

<% @users.each do |user| %>
<div class="container">
  <p> <%= user.name %> </p>
  <% user.skills.each do |skill| %>
  <p><%= skill.name %> : <%= skill.context %> </p>
  <% end %>
</div>

<% end %>

